fastapi==0.115.0
uvicorn[standard]==0.30.6
gunicorn==23.0.0
pydantic[email]==2.9.2
pydantic-settings==2.5.2
email-validator==2.2.0
dnspython==2.7.0
aiohttp==3.10.5
httpx==0.27.2
PySocks==1.7.1
aiosmtplib==3.0.1
disposable-email-domains==0.0.97
celery==5.4.0
redis==5.1.1
slowapi==0.1.9
python-multipart==0.0.12
python-dotenv==1.0.1
sqlmodel==0.0.21
asyncpg==0.29.0
structlog==24.4.0
cachetools==5.5.0
tldextract==5.1.3
idna==3.10
certifi==2024.8.30
ujson==5.10.0
orjson==3.10.7
